body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FCF8E8;
}

.title {
    text-align: center;
    color: #003865;
}

.button {
    display: block;
    background-color: #73A9AD;
    border: none;
    color: #FCF8E8;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 700;
    margin: 0 auto;
}

.button:hover {
    background-color: rgb(82, 120, 122);
    transition: 0.5s ease;
}

/* Pop up styles */
.popup {
    display: none;
    margin: 0 auto;
    padding: 15px 0;
    background-color: #fff;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0, 0.8);
}
.popup__content {
    border-radius: 20px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    animation-name: popupAnimation;
    animation-duration: 0.5s;
    -webkit-animation-name: popupAnimation;
    -webkit-animation-duration: 0.5s;
}
.popup__title {
    text-align: center;
    font-size: 24px;
    color: #003865;
    font-weight: 700;
    width: 90%;
}

.popup__header {
    display: flex;
    justify-content: center;
}

.popup__error {
    display: none;
    background-color: #FF8C8C;
    color: #fff;
    border-radius: 5px;
    width: 40%;
    margin: 10px auto;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
}
.close {
    color: #73A9AD;
    float: right;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
  }
  
.close:hover {
    color: #003865;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
form {
    width: fit-content;
    margin: 0 auto;
}

.form__error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0;
    display: none;
}
label::after {
    content: '*';
    color: red;
}

input {
    width: 400px;
    padding: 10px 20px;
    margin: 10px 0;
}

.result {
    display: none;
    margin: 5% auto;
    padding: 10px 20px;
    width: 60%;
    text-align: center;
    font-size: 36px;
    color: #FCF8E8;
    font-weight: 500;
    background-color: #809A6F;
}

@-webkit-keyframes popupAnimation {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes popupAnimation {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }